.footer {
  background-color: $color-gray-light;
  margin-top: 50px;
  border-top: 1px solid $color-footer-txt;


  .footer-container {
    @extend %container;
    display: flex;
    justify-content: space-around;
    height: 100px;

    .copyright {
      display: flex;
      align-items: center;
      p {
        color: $color-footer-txt;

        @include md-sm {
          font-size: 0.8em;
        }
      }
    }

    .design {
      display: flex;
      align-items: center;

      p {
        color: $color-footer-txt;
        @include md-sm {
          font-size: 0.8em;
        }
      }

      a {
        color: $color-primary;
        @include md-sm {
          font-size: 0.8em;
        }
      }
    }
  }
}
