.features {
  @extend %container;
  display: flex;
  min-height: 50vh;
  align-items: center;
  margin: 100px auto;

  @include md-sm {
    flex-direction: column;
    padding-bottom: 20px;
  }
}

.feature-item {
  display: flex;
  flex-flow: column;
  align-items: center;

  &__description {
    display: block;
    text-align: center;

    h3 {
      font-family: $font-header;
      position: relative;
      &:after {
        position: absolute;
        bottom: -5px;
        right: 38%;
        width: 100px;
        height: 1px;
        content: "";
        background-color: $color-underline;
      }
    }
    p {
      font-family: $font-header;
    }
  }
}
