.features {
  @extend %container;
  display: flex;
  min-height: 50vh;
  align-items: center;
  margin: 50px auto;

  @include lg-md {
    flex-direction: column;
    padding-bottom: 20px;
  }
  @include md-xs {
    flex-direction: column;
    padding-bottom: 20px;
    margin: 50px auto;
  }
}

.feature-item {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 7px;
  @include xl-min {}

  &__description {
    display: block;
    text-align: center;

    h3 {
      font-family: $font-header;
      position: relative;
      &:after {
        position: absolute;
        bottom: -5px;
        width: 100px;
        height: 1px;
        content: "";
        background-color: $color-underline;

        @include lg-min {
          right: 38%;
        }
        @include lg-md {
          right: 44.5%;
        }
        @include md-sm {
          right: 42.5%;
        }
        @include sm-xs {
          right: 33.5%;
        }

      }
    }
    p {
      font-family: $font-header;

      @include xl-min {
        font-size: 1rem;
      }
      @include sm-min {
        font-size: 0.9rem;
        margin: 20px auto;
      }
      @include xs-min {
        font-size: 0.9rem;
        margin: 20px auto;
      }
    }
  }
}
