.statistic {
  @extend %container;

  .statistics-container {
    display: flex;

    @include md-min {
      flex-flow: row;
      justify-content: space-around;
    }
    @include md-sm {
      flex-flow: column;
      justify-content: center;
    }

    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;

      .number {
        font-family: $font-header;
        font-weight: bold;
        margin-bottom: 0;

        @include xl-min {
          font-size: 3.2rem;
        }
        @include xl-lg {
          font-size: 2.2rem;
        }
        @include lg-md {
          font-size: 2.1rem;
        }
        @include sm-min {
          font-size: 3.2rem;
        }
      }
    }
    &__txt {
      @include lg-md {
        font-size: 0.8rem;
      }
    }
  }
}
