$font-header: 'IBM Plex Sans Arabic', sans-serif;
$font-main: 'Brygada 1918', serif;;
$font-size: 16px;

$ul: 1340px;
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$xs: 360px;

$gap: 20px;

/*

@include lg-min {

}
@include lg-md {

}
@include md-sm {

}
@include sm {

}
*/
