/*

@include lg-min {

}
@include lg-md {

}
@include md-sm {

}
@include sm {

}
*/
.features, .intro-app__container, .cuisines, .statistic, .footer .footer-container {
  max-width: 1340px;
  margin: auto;
  padding-right: 20px;
  padding-left: 20px;
}

/* ul */
/* xl */
/* lg */
/* md */
/* sm */
/* xs */
/* xx */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Brygada 1918", serif;
  font-size: 16px;
  overflow-y: scroll;
  letter-spacing: .1em;
  color: #fff;
}

h1 {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-weight: 500;
  margin-bottom: 0.3em;
  letter-spacing: .08em;
}

h2 {
  letter-spacing: 0.1em;
  color: #000;
  font-family: "IBM Plex Sans Arabic", sans-serif;
  line-height: 1.2em;
}

h3 {
  letter-spacing: 0.05em;
  color: #000;
  font-size: 1.125rem;
}

p {
  color: #000;
}

a {
  text-decoration: none;
  color: #fff;
}

.btn,
.btn-accent {
  display: block;
  -webkit-transition: background-color .5s;
  -o-transition: background-color .5s;
  transition: background-color .5s;
  text-align: center;
  letter-spacing: 0.1em;
}

.btn:focus, .btn:hover,
.btn-accent:focus,
.btn-accent:hover {
  background-color: #7B4162;
}

.btn {
  border: 3px solid #fff;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.1);
  display: block;
  padding: 18px 20px;
  -webkit-transition: background-color 0.5s, border-color 0.5s;
  -o-transition: background-color 0.5s, border-color 0.5s;
  transition: background-color 0.5s, border-color 0.5s;
  text-align: center;
  letter-spacing: 0;
  font-size: 1.125rem;
}

.btn:hover, .btn:focus {
  background-color: #7B4162;
}

.btn--light {
  border-color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
}

.btn--primary {
  border-color: #000;
  background-color: rgba(0, 0, 0, 0.8);
}

.form {
  display: block;
  position: fixed;
  top: 18%;
  left: 30%;
  background: -webkit-gradient(linear, left top, left bottom, from(#351a49), to(#a7876f));
  background: -o-linear-gradient(top, #351a49 0%, #a7876f 100%);
  background: linear-gradient(to bottom, #351a49 0%, #a7876f 100%);
  border: 1px solid transparent;
  border-radius: 5px;
  z-index: 2;
}

.form .form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.form .form-container__close {
  display: block;
  width: 50px;
  height: 50px;
  border: 1px solid transparent;
  border-radius: 100%;
  background-color: #694A5B;
  text-align: center;
  padding-top: 15px;
  margin-top: 2%;
  margin-left: 2%;
}

.form .form-container__logo {
  height: 90px;
  width: 115px;
  margin: 0 auto;
}

.form .form-container__header {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  color: #fff;
  margin: 20px auto;
  font-weight: 400;
  font-size: 1.5rem;
  letter-spacing: 0;
}

.form .form-container__fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.form .form-container__fields input {
  width: 465px;
  height: 50px;
  border: 2px solid #5E4059;
  background: rgba(255, 255, 255, 0.11);
  margin: 10px 75px;
}

.form .form-container__fields input::-webkit-input-placeholder {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-weight: 600;
  font-size: 1.2em;
  color: #fff;
  padding-left: 10px;
}

.form .form-container__fields input::-moz-placeholder {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-weight: 600;
  font-size: 1.2em;
  color: #fff;
  padding-left: 10px;
}

.form .form-container__fields input:-ms-input-placeholder {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-weight: 600;
  font-size: 1.2em;
  color: #fff;
  padding-left: 10px;
}

.form .form-container__fields input::-ms-input-placeholder {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-weight: 600;
  font-size: 1.2em;
  color: #fff;
  padding-left: 10px;
}

.form .form-container__fields input::placeholder {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-weight: 600;
  font-size: 1.2em;
  color: #fff;
  padding-left: 10px;
}

.form .form-container .btn__form {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form .form-container .btn__form button {
  width: 465px;
  height: 50px;
  background-color: #751045;
  border: 2px solid #5E4059;
  border-radius: 5px;
  color: #fff;
  font-weight: 400;
  font-size: 1em;
}

.form .form-container__hint {
  text-align: center;
  margin: 20px 0 40px 0;
}

.form .form-container__hint p {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  color: #fff;
  font-weight: 500;
  font-size: 0.8em;
  letter-spacing: 0.01em;
}

.form .form-container__link {
  text-decoration: underline;
}

.header {
  position: relative;
  display: grid;
  min-height: 100vh;
  padding-top: 100px;
  padding-bottom: 100px;
  color: #fff;
  background-color: red;
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: cover;
  -ms-flex-line-pack: center;
      align-content: center;
}

.header-menu {
  position: absolute;
  z-index: 1;
  top: 20px;
  right: 0;
  left: 0;
}

.header-menu__container {
  display: grid;
  grid-template-columns: auto 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1340px;
  margin: auto;
  padding-right: 20px;
  padding-left: 20px;
}

.header-logo img {
  height: 100%;
}

.header-navbar__list {
  margin: 0 -20px 0 0;
  padding: 0;
  list-style: none;
}

.header-navbar__link {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-size: 1.125rem;
  display: block;
  padding: 20px;
}

.header-navbar__link:hover {
  color: #7B4162;
}

.header-navbar__item:nth-last-child(-n+1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.burger-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#burger-menu {
  width: 30px;
  height: 30px;
  margin: 0 !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  cursor: pointer;
  z-index: 3;
}

.burger-hyphens {
  width: 90%;
  height: 10%;
  border-radius: 10px;
  background: #fff;
  -webkit-transform-origin: 0% 50%;
      -ms-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
  opacity: 1;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
}

#burger-content {
  position: absolute;
  -webkit-transform: translate(0%, 60%);
      -ms-transform: translate(0%, 60%);
          transform: translate(0%, 60%);
  padding: 10px 20px;
  background: inherit;
  z-index: -1;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 1s, visibility 0s 1s;
  -o-transition: opacity 1s, visibility 0s 1s;
  transition: opacity 1s, visibility 0s 1s;
}

#burger-content a {
  display: block;
  color: #fff;
  padding: 5px 0px;
}

/* Animations */
.burger-open .burger-hyphens:nth-child(1) {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 75%;
}

.burger-open .burger-hyphens:nth-child(3) {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  width: 75%;
}

.burger-open .burger-hyphens:nth-child(2) {
  -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
          transform: translateX(50%);
  opacity: 0;
}

#burger-content.burger-open {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}

#burger-menu:hover .burger-hyphens,
#burger-menu:active .burger-hyphens {
  background-color: #7B4162;
}

.header-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-box-shadow: 0px -84px 31px -8px rgba(83, 44, 96, 0.38) inset;
          box-shadow: 0px -84px 31px -8px rgba(83, 44, 96, 0.38) inset;
}

.header-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-content h1:before {
  content: 'Find your Favorite';
  font-size: 0.4em;
  font-style: italic;
  color: rgba(255, 255, 255, 0.7);
  letter-spacing: normal;
  font-family: "Brygada 1918", serif;
  position: absolute;
}

.header-content__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-content p {
  margin-top: 40px;
  color: #fff;
}

.header-content .add-recipe-link {
  text-decoration: underline;
  font-weight: bold;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 50vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 100px auto;
}

.feature-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feature-item__description {
  display: block;
  text-align: center;
}

.feature-item__description h3 {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  position: relative;
}

.feature-item__description h3:after {
  position: absolute;
  bottom: -5px;
  width: 100px;
  height: 1px;
  content: "";
  background-color: #F57365;
}

.feature-item__description p {
  font-family: "IBM Plex Sans Arabic", sans-serif;
}

.intro-app {
  background-color: #F7F7F7;
}

.intro-app__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.intro-app__description h2 {
  font-weight: 600;
  position: relative;
}

.intro-app__description h2:after {
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100px;
  height: 1px;
  content: "";
  background-color: #F57365;
}

.intro-app__description p {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  max-width: 550px;
  text-align: left;
  font-weight: 400;
}

.carousel {
  background: -webkit-gradient(linear, left top, right top, color-stop(35%, #4a3949), color-stop(50%, rgba(74, 57, 73, 0.840774)), color-stop(65%, #4a3949));
  background: -o-linear-gradient(left, #4a3949 35%, rgba(74, 57, 73, 0.840774) 50%, #4a3949 65%);
  background: linear-gradient(90deg, #4a3949 35%, rgba(74, 57, 73, 0.840774) 50%, #4a3949 65%);
}

.carousel .carousel-container {
  background-image: url("assets/img/carousel-bg.png");
  position: relative;
  height: 50%;
  width: 75%;
  margin: 0 auto;
}

.carousel .carousel-item {
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  -o-transition: transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.carousel .carousel-item__txt {
  text-align: center;
}

.carousel .carousel-item__txt .comment {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  color: gray;
  font-weight: 100;
}

.carousel .carousel-item__txt .bio {
  color: gray;
}

.carousel .carousel-item .rounded-circle {
  height: 100px;
  width: 100px;
  background-position: center;
  background-size: cover;
  border-radius: 100%;
  margin: 0 auto;
  border: 4px solid gray;
}

.carousel .effect {
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

.carousel .dots {
  position: absolute;
  right: 0;
  bottom: 0;
  left: -30px;
  z-index: 15;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 15%;
  margin-left: 15%;
  list-style-type: none;
}

.carousel .dot {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  cursor: pointer;
  margin-right: 3px;
  margin-left: 3px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  background-clip: padding-box;
  opacity: .5;
  -webkit-transition: opacity .6s ease;
  -o-transition: opacity .6s ease;
  transition: opacity .6s ease;
}

.carousel .dot:hover {
  background-color: #751045;
}

.cuisines h3 {
  position: relative;
  text-align: center;
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-weight: 400;
}

.cuisines h3:after {
  position: absolute;
  bottom: -5px;
  width: 100px;
  height: 1px;
  content: "";
  background-color: #F57365;
}

.cuisines__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px auto;
}

.cuisines__nav a {
  margin: 17px;
  padding: 10px 5px 10px 05px;
  border: 1px solid #F57365;
  border-radius: 14px;
  background-color: #F7F7F7;
  color: #F57365;
}

.cuisines__container {
  display: grid;
  grid-gap: 0px;
}

.cuisines-item {
  position: relative;
  overflow: hidden;
  padding-top: 50px;
}

.cuisines-item .cuisines__image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.cuisines-item .cuisines__title {
  position: absolute;
  top: 34%;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.cuisines-item .cuisines__title h2 {
  margin: 0 auto;
  text-transform: uppercase;
}

.cuisines-item .cuisines__title p {
  color: white;
  font-style: italic;
  margin: 0 auto;
}

.cuisines-item:nth-of-type(1) {
  grid-area: a1;
}

.cuisines-item:nth-of-type(2) {
  grid-area: a2;
}

.cuisines-item:nth-of-type(3) {
  grid-area: a3;
}

.cuisines-item:nth-of-type(4) {
  grid-area: a4;
}

.cuisines-item:nth-of-type(5) {
  grid-area: a5;
}

.cuisines-item:nth-of-type(6) {
  grid-area: a6;
}

.cuisines-item:nth-of-type(7) {
  grid-area: a7;
}

.cuisines-item:nth-of-type(8) {
  grid-area: a8;
}

.cuisines-item:nth-of-type(9) {
  grid-area: a9;
}

.cuisines-item:nth-of-type(10) {
  grid-area: a10;
}

.statistic .statistics-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.statistic .statistics-container__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.statistic .statistics-container__item .number {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-weight: bold;
  margin-bottom: 0;
}

.footer {
  background-color: #F7F7F7;
  margin-top: 50px;
  border-top: 1px solid #C9C9C9;
}

.footer .footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 100px;
}

.footer .footer-container .copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer-container .copyright p {
  color: #C9C9C9;
}

.footer .footer-container .design {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer-container .design p {
  color: #C9C9C9;
}

.footer .footer-container .design a {
  color: #000;
}

@media (min-width: 360px) {
  .header-content__logo {
    margin: 0 auto 131px auto;
  }
  .header-content__logo img {
    height: 183%;
  }
  .feature-item__description p {
    font-size: 0.9rem;
    margin: 20px auto;
  }
  .intro-app__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse;
            flex-flow: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 10px 0 0 0;
  }
  .intro-app__picture {
    margin: 0 auto;
  }
  .intro-app__description h2 {
    text-align: center;
    font-size: 1.1em;
    margin-bottom: 40px;
  }
  .statistic .statistics-container__item .number {
    font-size: 2.2rem;
  }
}

@media (min-width: 576px) {
  .btn {
    height: 30px;
  }
  .btn--primary {
    min-width: 350px;
  }
  .feature-item__description p {
    font-size: 0.9rem;
    margin: 20px auto;
  }
  .intro-app__container {
    padding: 35px;
  }
  .intro-app__description h2 {
    text-align: center;
    font-size: 1.1em;
    margin-bottom: 40px;
  }
  .carousel .dot {
    height: 10px;
    width: 10px;
  }
  .cuisines {
    padding: 100px 0 50px 0;
  }
  .statistic .statistics-container__item .number {
    font-size: 3.2rem;
  }
}

@media (min-width: 768px) {
  .header-navbar__list {
    display: grid;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    grid-template-columns: repeat(auto-fit, minmax(50px, -webkit-max-content));
    grid-template-columns: repeat(auto-fit, minmax(50px, max-content));
  }
  .header-content__logo {
    display: none;
  }
  .intro-app__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .intro-app__description h2:after {
    left: 0;
  }
  .intro-app__description h2 {
    text-align: left;
  }
  .carousel {
    padding-bottom: 60px;
  }
  .carousel .carousel-item {
    width: 100%;
    height: 400px;
    padding: 60px 0;
  }
  .carousel .carousel-item__txt .comment {
    font-size: 1.5rem;
  }
  .statistic .statistics-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (min-width: 992px) {
  h1 {
    font-size: 6.75rem;
  }
  h2 {
    margin-bottom: 56px;
    font-size: 2.5rem;
  }
  .btn {
    height: 60px;
  }
  .header-content a {
    font-size: 1.2em;
    padding: 25px 80px 47px 80px;
  }
  .feature-item__description h3:after {
    right: 38%;
  }
  .intro-app__description p {
    font-size: 0.8rem;
    margin: 20px auto;
  }
  .cuisines__container {
    grid-template-areas: 'a1 a2 a3 a4 a5' 'a6 a7 a8 a9 a10';
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (min-width: 1200px) {
  .form {
    left: 30%;
  }
  .header-content h1:before {
    top: 13%;
    right: 40%;
  }
  .feature-item__description p {
    font-size: 1rem;
  }
  .intro-app__picture {
    padding: 100px 50px 0 100px;
  }
  .intro-app__description {
    margin-top: 200px;
    margin-right: 100px;
  }
  .cuisines h3:after {
    left: 46%;
  }
  .cuisines__container {
    grid-auto-rows: 185px;
  }
  .cuisines-item .cuisines__title h2 {
    font-size: 2.5rem;
  }
  .statistic .statistics-container__item .number {
    font-size: 3.2rem;
  }
}

@media (max-width: 1199.8px) and (min-width: 768px) {
  .header-content__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    justify-items: center;
    text-align: center;
  }
}

@media (max-width: 1199.8px) and (min-width: 992px) {
  .form {
    left: 20%;
  }
  .header-content h1:before {
    top: 13%;
    right: 33%;
  }
  .intro-app__picture {
    padding: 50px 50px 0 60px;
  }
  .intro-app__picture img {
    max-height: 500px;
  }
  .intro-app__description {
    margin-top: 100px;
    margin-right: 50px;
  }
  .cuisines h3:after {
    left: 45%;
  }
  .cuisines__container {
    grid-auto-rows: 150px;
  }
  .cuisines-item .cuisines__title h2 {
    font-size: 1.6rem;
  }
  .statistic .statistics-container__item .number {
    font-size: 2.2rem;
  }
}

@media (max-width: 991.8px) and (min-width: 576px) {
  .intro-app__picture {
    padding: 50px 50px 0 50px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

@media (max-width: 991.8px) and (min-width: 768px) {
  h1 {
    font-size: 3.5rem;
  }
  h2 {
    margin-bottom: 42px;
    font-size: 2rem;
  }
  .btn {
    height: 30px;
  }
  .form {
    left: 12%;
  }
  .header-content h1:before {
    top: 8%;
    right: 36%;
  }
  .header-content a {
    font-size: 1.1em;
    padding: 14px 40px 35px 40px;
  }
  .header-content p {
    font-size: 0.8em;
  }
  .features {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 20px;
  }
  .feature-item__description h3:after {
    right: 44.5%;
  }
  .intro-app__picture img {
    max-height: 500px;
  }
  .intro-app__description {
    margin-top: 50px;
  }
  .intro-app__description p {
    font-size: 0.8rem;
  }
  .cuisines h3:after {
    left: 43%;
  }
  .cuisines__container {
    grid-template-areas: 'a1 a2' 'a3 a4' 'a5 a6' 'a7 a8' 'a9 a10';
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 200px;
  }
  .cuisines-item .cuisines__title h2 {
    font-size: 2.6rem;
  }
  .statistic .statistics-container__item .number {
    font-size: 2.1rem;
  }
  .statistic .statistics-container__txt {
    font-size: 0.8rem;
  }
}

@media (max-width: 767.8px) {
  h1 {
    font-size: 3.875rem;
  }
  .header-navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .header-navbar__list {
    position: absolute;
    top: 100%;
    right: 40px;
    display: none;
    text-align: right;
    background-color: rgba(68, 89, 110, 0.9);
  }
}

@media (max-width: 767.8px) and (min-width: 360px) {
  .header-menu {
    display: none;
  }
  .header-content__title {
    margin: 20px auto;
  }
  .header-content__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    justify-items: center;
  }
  .header-content h1:before {
    bottom: 43%;
    right: 37%;
  }
  .header-content h1:before {
    bottom: 43%;
    right: 20%;
  }
  .features {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 20px;
    margin: 50px auto;
  }
  .intro-app__description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .intro-app__description__links {
    margin: 0 auto;
  }
  .cuisines__container {
    grid-template-areas: 'a1' 'a2' 'a3' 'a4' 'a5' 'a6' 'a7' 'a8' 'a9' 'a10';
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 300px;
  }
  .statistic .statistics-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 767.8px) and (min-width: 576px) {
  h2 {
    margin-bottom: 36px;
    font-size: 1.5rem;
  }
  .form {
    left: 9%;
  }
  .header-content a {
    font-size: 0.8em;
    padding: 10px 40px 25px 40px;
  }
  .header-content p {
    font-size: 0.7em;
  }
  .feature-item__description h3:after {
    right: 42.5%;
  }
  .intro-app__picture {
    margin: 0 auto;
  }
  .intro-app__picture img {
    max-height: 400px;
  }
  .intro-app__description h2:after {
    left: 41%;
  }
  .intro-app__description p {
    font-size: 0.8rem;
    margin: 10px auto;
    text-align: center;
  }
  .carousel {
    padding-bottom: 16px;
  }
  .carousel .carousel-item {
    width: 100%;
    height: 316px;
    padding: 17px 0;
  }
  .carousel .carousel-item__txt .comment {
    font-size: 1.2rem;
  }
  .cuisines h3:after {
    left: 42%;
  }
  .cuisines-item .cuisines__title h2 {
    font-size: 2.6rem;
  }
  .footer .footer-container .copyright p {
    font-size: 0.8em;
  }
  .footer .footer-container .design p {
    font-size: 0.8em;
  }
  .footer .footer-container .design a {
    font-size: 0.8em;
  }
}

@media (max-width: 575.8px) {
  h2 {
    margin-bottom: 36px;
    text-align: center;
    font-size: 1.5rem;
  }
  .btn--primary {
    width: 100%;
  }
}

@media (max-width: 575.8px) and (min-width: 360px) {
  .header-content a {
    font-size: 0.8em;
    padding: 15px 20px 15px 20px;
  }
  .header-content p {
    font-size: 0.6em;
  }
  .feature-item__description h3:after {
    right: 35.5%;
  }
  .intro-app__picture img {
    max-height: 400px;
  }
  .intro-app__description h2:after {
    left: 36%;
  }
  .intro-app__description p {
    font-size: 0.8rem;
    margin: 10px auto;
    text-align: center;
  }
  .carousel .carousel-item {
    width: 100%;
    height: 166px;
    padding: 17px 0;
  }
  .carousel .carousel-item__txt .comment {
    font-size: 0.6rem;
  }
  .carousel .carousel-item__txt .bio {
    font-size: 0.3rem;
  }
  .carousel .carousel-item .rounded-circle {
    height: 50px;
    width: 50px;
  }
  .carousel .dot {
    height: 5px;
    width: 5px;
  }
  .cuisines {
    padding: 10px 0 10px 0;
  }
  .cuisines h3:after {
    left: 36%;
  }
  .cuisines-item .cuisines__title h2 {
    font-size: 1.6rem;
  }
  .footer .footer-container .copyright p {
    font-size: 0.6em;
  }
  .footer .footer-container .design {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    margin-top: 20px;
  }
  .footer .footer-container .design p {
    font-size: 0.6em;
  }
  .footer .footer-container .design a {
    font-size: 0.6em;
  }
}
