.header-content {
  position: relative;
  display: flex;
  justify-content: center;

  &__logo {
    @include md-min {
      display: none;
    }
    @include xs-min {
      margin: 0 auto 131px auto;

      img {
        height: 183%;
      }
    }
  }
  &__title {
    @include md-xs {
      margin: 20px auto;
    }
  }
  &__container {
    @include xl-md {
        display: flex;
        flex-flow: column;
        justify-items: center;
        text-align: center;
    }
    @include md-xs {
      display: flex;
      flex-flow: column;
      justify-items: center;
    }
  }

  h1:before {
    content: 'Find your Favorite';
    font-size: 0.4em;
    font-style: italic;
    color: rgba(255, 255, 255, 0.7);
    letter-spacing: normal;
    font-family: $font-main;
    position: absolute;


    @include xl-min {
      top: 13%;
      right: 40%;
    }
    @include xl-lg {
      top: 13%;
      right: 33%;
    }
    @include lg-md {
      top: 8%;
      right: 36%;
    }
    @include md-xs {
      bottom: 43%;
      right: 37%;
    }
    @include md-xs {
      bottom: 43%;
      right: 20%;
    }

  }

  &__buttons {
    display: flex;
    justify-content: center;
  }
  a {

    @include lg-min {
      font-size: 1.2em;
      padding: 25px 80px 47px 80px;
    }
    @include lg-md {
      font-size: 1.1em;
      padding: 14px 40px 35px 40px;
    }
    @include md-sm {
      font-size: 0.8em;
      padding: 10px 40px 25px 40px;
    }
    @include sm-xs {
      font-size: 0.8em;
      padding: 15px 20px 15px 20px;
    }
  }
  p {
    margin-top: $gap * 2;
    color: $color-light;
    cursor: pointer;
    @include lg-md {
      font-size: 0.8em;
    }
    @include md-sm {
      font-size: 0.7em;
    }
    @include sm-xs {
      font-size: 0.6em;
    }
  }
  .add-recipe-link {
    text-decoration: underline;
    font-weight: bold;
  }
}
