.header-overlay
{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  opacity: 0.6;
  background: linear-gradient(90deg, rgba(173,120,103,0.87718837535014) 87%, rgba(94,10,77,0.8883928571428571) 100%);
}
